<div class="app-main__outer">
    <!-- <div class="app-main__inner">		 -->



    <div class="admin_a form_dashbord">
        <div class="top-head" *ngIf="login == 'SuperAdmin'">
            <img (click)="backClicked()" src="assets\img\backimage.svg" class="backimage-butn">
          <h2>Services</h2>
          </div>
        <!-- <div class="text-center d-table">
            <img src="https://dummyimage.com/100x100/ddd/fff" class="img-responsive rounded-circle">
            <h3>James Walter</h3>
        </div> -->

        <div class="d-flex if_xs_btn mt-30">
            <input type="text" placeholder="Search Here" class="btn_border search_here"   [(ngModel)]="searchText"(click)="performSearch()" style="width:25%!important;">
            <!-- <a class="btn_blue ml-auto" data-toggle="modal" data-target="#myModalpurchase-membership">Add Salon</a> -->

            <a (click)="passId()" class="btn_blue ml-auto">Add Service </a>

        </div>


        <form [formGroup]="form">
            <div class="d-flex flex-wrap if_xs_btn mb-30" style="gap: 10px;">
              
        
    
                <div class="cate-align">
                <label>Main Category</label>
                <!-- (change)="getSubcategoryList(f['countryId'].value)" -->
                <!-- (change)="getSubcategoryList(f['mainProductCategoryId'].value)" -->
                <select type="text" class="control-form mr-20 btn_border" formControlName="mainCategoryId" (click)="performSearch()" (change)="serviceListFilter()" (change)="getSubcategoryList(f['mainCategoryId'].value)">
                    <option value="" disabled>Select </option>
                    <option   *ngFor="let item of categoryList"   [ngValue]="item?.mainCategoryId"
                   >{{item?.categoryName}}</option>
    
                </select>	
            </div>
    
    
            <div class="cate-align">
                <label>Sub Category</label>
                <select type="text" class="control-form mr-20 btn_border" formControlName="subCategoryId" (change)="serviceListFilter()">
                    <option value="" disabled>Select </option>
                    <option *ngFor="let item of subCategoryList"  [ngValue]="item?.subCategoryId" >{{item?.categoryName}}</option>
                </select>	
            </div>

            <div class="cate-align">
                <label>Age</label>
                <select type="text" class="control-form mr-20 btn_border" formControlName="ageRestrictions"  (change)="serviceListFilter()">
                    <option value="">Select </option>
                    <option value="Kids">Kids</option>
                    <option value="Adult">Adult</option>
                </select>	
            </div>
    
            <div class="cate-align">
                <label>Gender Preferences</label>
                <select type="text" class="control-form mr-20 btn_border" formControlName="genderPreferences"  (change)="serviceListFilter()" (click)="performSearch()">
                    <option value="">Select </option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>	
            </div>
                </div>
            </form>

        <div class="table-responsive">
            <table class="table admin_table">

                <tr>
                    <!-- <th>Serial No.</th> -->
                    <th>Service Name</th>
                    <th>Service Image</th>
                    <th>Gender Preferences</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

                <tr
                    *ngFor="let item of list | filter:searchText | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalItems,id: '1' }  ">

                    <td class="profile">
                        <!-- <img src="img/product_items.png" class="img-responsive"> -->
                        {{item?.serviceName}}
                    </td>
                    <td class="profile">
                        <!-- <img src="assets/img/product_items.png" class="img-responsive">-->
                        <img [src]="rootUrl + item?.serviceImage" class="img-responsive">
                    </td>
                    <td>{{item?.genderPreferences}}</td>
                    <td>{{item?.listingPrice}}</td>
                    <!-- <td >{{item.statusDisplay}}</td> -->
                    <td>
                        <!-- <label class="switch" *ngIf="item.status == 0">
                        <span>Pending</span>
                    </label> -->
                        <label class="switch" *ngIf="item?.status == 1 ">
                            <input type="checkbox" checked (click)="checkActiveStatus(item?.serviceId)">
                            <span class="slider round"></span>
                            <!-- <p>Active</p> -->
                        </label>
                        <label class="switch" *ngIf="item.status == 0 ">
                            <input type="checkbox" (click)="checkInactiveStatus(item.serviceId)">
                            <span class="slider round"></span>
                            <!-- <p>UnActive</p> -->
                        </label>
                    </td>
              
                    <td>
                        <a (click)="details(item)"><i style="background:#e6629f; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-eye"></i></a>
                        <a (click)="edit(item)"><i style="background:#9f2d61; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-pencil"></i></a>
                        <a data-toggle="modal" data-target="#list-cross-mess" (click)="delet(item)">
                            <i style="background:#9f0a2a; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-times"></i>
                        </a>
                    </td>
                    <!-- Modal Delete Vendor-->
                    <div class="modal fade" id="list-cross-mess" tabindex="-1" role="dialog"
                        aria-labelledby="cancel-messLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content warning-content">

                                <div class="modal-body text-center warning-mess-sec">
                                    <button type="button" class="close float-right" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <img src="assets\img\warning.png">
                                    <h2>Alert</h2>
                                    <p>Are You Sure, You want to Delete it?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class=" border-btn" data-dismiss="modal">Cancel</button>
                                    <button type="button" class=" btn_blue" (click)="serviceDelete()">Yes, Delete
                                        It</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>


            </table>
            <div class="no-data text-center" *ngIf="list?.length < 1">
                <img src="assets/img/NO DATA.png">
            </div>

        </div>
        <pagination-controls (pageChange)="((page = $event))" id="1" (pageIndex)="page" class="paginate-doctor-list"
        queryParamsHandling="merge" (pageChange)="refresh()">
        </pagination-controls>
    </div>
 
</div>
    <!-- modal -->

    <div class="modal fade" id="myModalpurchase-membership" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog max_sf modal-dialog-centered" role="document"
        style="border-radius:15px; overflow:hidden; border:none;">
        <div class="modal-content for-payment popup_advance">
            <div class="modal-header">
                <h5 class="modal-title">Apply Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="form">
                <div class="modal-body vendor-form pb-0 ">
                    <div class="">
                        <label>Select Filter</label>
                        <select type="text" class="control-form mb-0 btn_border"
                            formControlName="genderPreferences">
                            <!-- <option value="">Select </option> -->
                            <option value="0">All</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Unisex">Male & Female</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a type="button" class=" border-btn cancelinfilter" data-dismiss="modal"
                    (click)="backClickedreload()">Reset</a>
                <a type="button" class=" btn_blue" (click)="getListFilter()">Apply</a>
            </div>

        </div>
    </div>
</div>
