

<div class="app-main__outer">
    <div class="app-main__inner">
        
        <div class="text-center d-table">
            <h3>Admin List</h3>
        </div>
      

        <div class="admin_a form_dashbord">
        <div class="d-flex if_xs_btn mt-30">
            <input type="text" placeholder="Search Admin User" class="btn_border search_here" style="width:25%!important;">

            <a [routerLink]="['/admin-list/add-edit-admin']" class="btn_blue ml-auto">Add Admin </a>
        </div>
        
        <div class="table-responsive">
            <table class="table admin_table">
                
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Phone No.</th>
                    <th>Action</th>
                </tr>
                
                <tr>
                    <td class="profile">
                        <img src="assets/img/product_items.png" class="img-responsive">		
                    </td>
                    <td>Test 1</td>							
                    <td>26-06-2023</td>
                    <td>9888000111</td>
                    <td class="action">
                    <a href="#"><i style="background:#e6629f; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-eye"></i></a>
                    <a href="#"><i style="background:#9f2d61; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-pencil"></i></a>
                    <a href="#"><i style="background:#9f0a2a; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-times"></i></a>
                    </td>
                </tr> 
                
                <tr>
                    <td class="profile">
                        <img src="assets/img/product_items.png" class="img-responsive">				
                    </td>
                    <td>Test 1</td>								
                    <td>26-06-2023</td>
                    <td>9888000111</td>
                    <td class="action">
                    <a href="#"><i style="background:#3270b8; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-eye"></i></a>
                    <a href="#"><i style="background:#10b9d0; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-pencil"></i></a>
                    <a href="#"><i style="background:#9f0a2a; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-times"></i></a>
                    </td>
                </tr>
                
                <tr>
                    <td class="profile">
                        <img src="assets/img/product_items.png" class="img-responsive">			
                    </td>
                    <td>Test 1</td>							
                    <td>26-06-2023</td>
                    <td>9888000111</td>
                    <td class="action">
                    <a href="#"><i style="background:#3270b8; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-eye"></i></a>
                    <a href="#"><i style="background:#10b9d0; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-pencil"></i></a>
                    <a href="#"><i style="background:#9f0a2a; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-times"></i></a>
                    </td>
                </tr>
                
                <tr>
                    <td class="profile">
                        <img src="assets/img/product_items.png" class="img-responsive">			
                    </td>
                    <td>Test 1</td>						
                    <td>26-06-2023</td>
                    <td>9888000111</td>
                    <td class="action">
                    <a href="#"><i style="background:#3270b8; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-eye"></i></a>
                    <a href="#"><i style="background:#10b9d0; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-pencil"></i></a>
                    <a href="#"><i style="background:#9f0a2a; color:#fff; padding: 6px; border-radius: 5px; font-size: 14px;" class="fa fa-times"></i></a>
                    </td>
                </tr>
                
                
            </table>
            <hr>
        </div>
        </div>



    
        
    </div>						
</div>	

