@media screen and (min-width:320px) and (max-width:576px) {
    .login-right-side {
        padding: 25px;
        width: 96%;
        margin: 20px auto;
        border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    }
    .login-body {
        height: auto;
    }
    .login-left-side img {
        width: 100%;
    }
    
}

@media screen and (min-width:577px) and (max-width:992px) {
    .login-right-side {
        margin: 20px auto;
    }
    .login-body {
        height: auto;
    }
}

@media screen and (min-width:992px) and (max-width:1340px) {
    .login-left-side.flex-css {
        height: 100%;
        padding: 20px;
    }
    .login-left-side img {
        width: 100%;
    }
    .login-right-side {
        width: 90%;
    }    
    .login-body {
        height: auto;
    }
}

/* dashboard css */

@media screen and (min-width:320px) and (max-width:567px) {
    .main_content_wrapper {
        padding: 50px 10px;
    }
    .user-header {
        display: block;
    }
    .user-header p {
        margin-bottom: 20px;
    }
}
@media screen and (min-width:320px) and (max-width:768px) {
    body.menu-active .main_content_wrapper,body.menu-active .app-header-right{
        display: none;
   }
   .user-header {
    display: block;
}
.user-header p {
    margin-bottom: 20px;
}

nav#slide-menu {
    margin-left: -300px;
}
.main_content_wrapper {
    margin-left: 0;
}
div#content {
    left: 0;
}
div#content div.menu-trigger {
    left: 10px;
}
body.menu-active nav#slide-menu {
    left: 300px;
    z-index: 1;
}
body.menu-active div#content {
    left: 268px;
}
body.menu-active div#content .menu-trigger {
    left: 277px;
}
.change .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  body.menu-active .bar1, body.menu-active .bar2, body.menu-active .bar3 {
    background-color: #9f0a2a;
  }
}

@media screen and (min-width:320px) and (max-width:1100px) {
    th, td {
        min-width: 170px;
        padding: 15px!important;
    }
    
}