<div class="app-main__outer">
    <div class="admin_a">
        <div class="top-head">
            <img (click)="backClicked()" src="assets\img\backimage.svg" class="backimage-butn" />
            <h2>Service form</h2>
        </div>
        <form [formGroup]="form">
            <div class="vendor-form mt-40 bg-white">
                <div class="this_row">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 mb-30 text-center">
                            <h2>Add Service Banner</h2>
                        </div>

                        <div class="col-lg-12 col-md-12 mb-20">
                            <div class="upload_file text-center">
                                <div class="imges-upload mb-0">
                                    <div class="imgUp m-auto">
                                        <div class="imagePreview" style="background-image: url(&quot;undefined&quot;);" *ngIf="previewImage"  width="1280" height="720">
                                        </div>
                                        <label class="upload button btn btn-primary" >
                                            Upload<input type="file" class="uploadFile img" name="bannerimage"
                                                style="width: 0px;height: 0px;overflow: file; border-style: none;"
                                                id="bannerimage" (change)="onBannerImageSelect($event)"
                                                 (change)="onselect($event)" multiple  />
                                        </label>
                                        <div *ngIf="errorMessages" class="error-message" style="color: #fd0000">{{ errorMessages }}</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mx-auto ">
                            <div class="multi-img-box" >
                                <div *ngFor="let url of base64Image; let i = index">
                                    <div class="multiple-images multiple-img-sec " >
                                        <img class="img-responsive" [src]="url"  />
                                        <button class="remove" (click)="removeImage(i)">X</button>
                                        <!-- <button class="remove"  data-toggle="modal" data-target="#cancel-cross-mess">X</button> -->
                                    </div>
                                    <!-- <div *ngIf="errorMessages" class="error-message" style="color: #fd0000">{{ errorMessages }}</div> -->
                                    <!-- Modal for Remove Image -->
                                    <!-- <div class="modal fade" id="cancel-cross-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content warning-content">
                        
                        <div class="modal-body text-center warning-mess-sec">
                            <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            <img src="assets\img\warning.png">
                            <h2>Alert</h2>
                          <p>Are You Sure, You want to Delete it?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class=" border-btn" data-dismiss="modal">Cancel</button>
                          <button type="button" class=" btn_blue" (click)="removeImage(i)">Yes, Delete It</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <!-- end first form -->

            <div class="vendor-form pt-0 bg-white">
                <div class="this_row">
                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <label>Service Name <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input type="text" class="control-form" formControlName="serviceName" noSpacesAtStart appCapitalizeFirstLetter/>
                            <div *ngIf="submitted && f['serviceName'].errors" class="help-block">
                                <div *ngIf="f['serviceName'].errors" style="color: #fd0000">
                                    Service name is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Base Price <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input type="text" class="form-control" formControlName="basePrice"  [(ngModel)]="basePrice"  (input)="calculateSellingPrice()" OnlyNumbers />
                            <div *ngIf="submitted && f['basePrice'].errors" class="help-block">
                                <div *ngIf="f['basePrice'].errors" style="color: #fd0000">
                                    Base Price is required.</div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Discount</label>
                            <input type="text" class="control-form" formControlName="discount" OnlyNumbers [(ngModel)]="discount" (input)="calculateSellingPrice()" (input)="resetDiscount()" />
                            <div *ngIf="submitted && f['discount'].errors" class="help-block">
                                <div *ngIf="f['discount'].errors" style="color: #fd0000">
                                    Discount is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Listing Price <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input type="text" class="form-control" formControlName="listingPrice" [(ngModel)]="listingPrice" OnlyNumbers [readOnly]="true"/>

                            <div *ngIf="submitted && f['listingPrice'].errors" class="help-block">
                                <div *ngIf="f['listingPrice'].errors" style="color: #fd0000">
                                    Listing Price is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Main Category <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <select type="text" class="control-form" formControlName="mainCategoryId"
                                (change)="getSubcategoryList(f['mainCategoryId'].value)">
                                <option value="" disabled>Select</option>
                                <option *ngFor="let item of categoryList" [ngValue]="item?.mainCategoryId">
                                    {{item?.categoryName}}
                                </option>
                            </select>
                            <label *ngIf="submitted && f['mainCategoryId'].errors" class="invalid-formdata">
                                Main Category is required
                            </label>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Sub Category</label>
                            <select type="text" class="control-form" formControlName="subCategoryId">
                                <option value="0" >Select</option>
                                <option *ngFor="let item of subCategoryList" [ngValue]="item?.subCategoryId">
                                    {{item?.categoryName}}
                                </option>
                            </select>
                        </div>



                        <div class="col-lg-6 col-md-12">
                            <label>Age <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <select type="text" class="control-form" formControlName="ageRestrictions">
                                <option value="" selected>Select</option>
                                <option>Kids</option>
                                <option>Adult</option>
                            </select>

                            <div *ngIf="submitted && f['ageRestrictions'].errors" class="help-block">
                                <div *ngIf="f['ageRestrictions'].errors" style="color: #fd0000">
                                    Age is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Gender <i class="fa fa-asterisk" aria-hidden="true"></i> </label>
                            <select type="text" class="control-form" formControlName="genderPreferences">
                                <option value="" selected>Choose Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <div *ngIf="submitted && f['genderPreferences'].errors" class="help-block">
                                <div *ngIf="f['genderPreferences'].errors" style="color: #fd0000">
                                    Gender is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Duration In Minutes <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input type="tel" class="control-form" formControlName="durationInMinutes" OnlyNumbers />
                            <div *ngIf="submitted && f['durationInMinutes'].errors" class="help-block">
                                <div *ngIf="f['durationInMinutes'].errors" style="color: #fd0000">
                                    Duration is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Total Count Per Duration <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <input formControlName="totalCountPerDuration" type="text" class="form-control" OnlyNumbers />
                            <div *ngIf="submitted && f['totalCountPerDuration'].errors" class="help-block">
                                <div *ngIf="f['totalCountPerDuration'].errors?.['required']" style="color: #fd0000">
                                    Total Count is required.
                                </div>
                            </div>
                        </div>




                        <div class="col-lg-6 col-md-12">
                            <label>Lock Time Start</label>
                            <input formControlName="lockTimeStart" type="time" class="form-control" />
                            <!-- <div *ngIf="submitted && f['lockTimeStart'].errors" class="help-block">
                                <div *ngIf="f['lockTimeStart'].errors" style="color: #fd0000">
                                    Lock Time Start is required.
                                </div>
                            </div> -->
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Lock Time End</label>
                            <input formControlName="lockTimeEnd" type="time" class="form-control" />
                            <!-- <div *ngIf="submitted && f['lockTimeEnd'].errors" class="help-block">
                                <div *ngIf="f['lockTimeEnd'].errors" style="color: #fd0000">
                                    Lock Time End is required.
                                </div>
                            </div> -->
                            <div *ngIf="submitted && form.hasError('timeOrder')" class="help-block">
                                <div *ngIf="form.hasError('timeOrder')" style="color: #fd0000">
                                    Start time and end time can't be same.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <label>Description <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                            <textarea type="text" class="control-form" formControlName="serviceDescription" noSpacesAtStart appCapitalizeFirstLetter>
                            </textarea>
                            <!-- Maximum length error message -->
                            <div *ngIf="form.get('serviceDescription')?.hasError('maxLengthExceeded')" style="color: #fd0000;">
                              Maximum 160 characters for description.
                            </div>
                            <!-- Required error message -->
                            <div *ngIf="submitted && form.get('serviceDescription')?.hasError('required')" class="help-block" style="color: #fd0000;">
                              Description is required.
                            </div>
                          </div>


                        <div class="col-lg-12 col-md-12 mb-20">
                            <label>Service Image</label>
                            <br>
                            <input name="bannerimage" type="file" class="uploadFile  img" #image1
                                (change)="handleFileInput($event)" (change)="onImageSelect($event)">
                                <div *ngIf="errorMessage" class="error-message" style="color: #fd0000">{{ errorMessage }}</div>
                                <label *ngIf="imageUrl"  width="512" height="512" data-toggle="modal" data-target="#myModal" class="preview-butn">preview</label>
                        </div>

                        <div class="col-lg-12 col-md-12 mt-40 text-center btn_margin">
                            <button class="border-btn" type="submit" value="" data-toggle="modal"
                                data-target="#cancel-mess">
                                Cancel
                            </button>
                            <button class="btn_blue" type="submit" (click)="updateService()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog max_sf modal-dialog-centered" role="document"
        style="border-radius:15px; overflow:hidden; border:none;">
        <div class="modal-content popup_advance">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body text-center">
                <div class="imagePreview vendor-preview">
                    <img class="image" [src]="imageUrl">

                </div>


            </div>

        </div>
    </div>
</div>




<div class="modal fade" id="cancel-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content warning-content">
            <div class="modal-body text-center warning-mess-sec">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="assets\img\warning.png" />
                <h2>Alert</h2>
                <p>Are You Sure, You want to Cancel it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="border-btn" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn_blue" (click)="cancel()">Yes, Cancel It</button>
            </div>
        </div>
    </div>
</div>