<div class="app-main__outer">
    <div class="admin_a">
        <div class="top-head">
            <img src="assets\img\backimage.svg" class="backimage-butn" />
            <h2>Service form</h2>
        </div>
        <form [formGroup]="form">
            <div class="vendor-form mt-40 bg-white">
                <div class="this_row">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 mb-30 text-center">
                            <h2>Add Service Picture</h2>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <!-- <div class="upload_file text-center">
                    <input type="file" class="control-form">
                    <label for="file">Upload</label>									
                </div> -->
                            <div class="imges-upload mb-0">
                                <div class="imgUp m-auto">
                                    <!-- <div class="imagePreview" formControlName="imagePath"></div> -->
                                    <div class="imagePreview"></div>

                                    <!-- {{imageFile}}/ -->
                                    <label class="upload button btn btn-primary">
                                        <!-- <input value="rootUrl + homeServicesData.imagePath" name="bannerHidden" type="hidden"> -->
                                        Upload<input type="file" class="uploadFile img" name="bannerimage"
                                            style="width: 0px;height: 0px;overflow: file; border-style: none;"
                                            id="bannerimage">
                                    </label>
                                    <div>
                                    </div>


                                </div>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- end first form -->

            <div class="vendor-form pt-0 bg-white">
                <div class="this_row">
                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <label>Service Name</label>
                            <input type="text" class="control-form" formControlName="serviceName" />
                            <div *ngIf="submitted && f['serviceName'].errors" class="help-block">
                                <div *ngIf="f['serviceName'].errors" style="color: #fd0000">
                                    Service name is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Base Price </label>
                            <input type="text" class="form-control" formControlName="basePrice" />
                            <div *ngIf="submitted && f['basePrice'].errors" class="help-block">
                                <div *ngIf="f['basePrice'].errors" style="color: #fd0000">
                                    Base Price is required.</div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Discount</label>
                            <input type="tel" class="control-form" formControlName="discount" numbersOnly />
                            <div *ngIf="submitted && f['discount'].errors" class="help-block">
                                <div *ngIf="f['discount'].errors" style="color: #fd0000">
                                    Discount is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Listing Price</label>
                            <input  type="text" class="form-control" formControlName="listingPrice" />

                            <div *ngIf="submitted && f['listingPrice'].errors" class="help-block">
                                <div *ngIf="f['listingPrice'].errors" style="color: #fd0000">
                                    Listing Price is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Main Category</label>
                            <select type="text" class="control-form mr-20 btn_border" formControlName="mainCategoryId"  (change)="getSubcategoryList(f['mainCategoryId'].value)">
                                <option value="">Select </option>
                                <option   *ngFor="let item of categoryList"   [ngValue]="item?.mainCategoryId"
                               >{{item?.categoryName}}</option>
                
                            </select>	
                            <!-- <select type="text" class="control-form mr-20 btn_border" formControlName="mainCategoryId"
                                (change)="getSubcategoryList(f['mainCategoryId'].value)">
                                <option value="">Select </option>
                                <option *ngFor="let item of categoryList" [ngValue]="item?.mainCategoryId">
                                    {{item?.categoryName}}</option>

                            </select>
                            <div *ngIf="submitted && f['mainCategoryId'].errors" class="help-block">
                                <div *ngIf="f['mainCategory'].errors" style="color: #fd0000">
                                    Main Category is required.
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <label>Sub Category</label>

                            <select type="text" class="control-form mr-20 btn_border" formControlName="subcategoryId">
                                <option value="">Select </option>
                                <option *ngFor="let item of subCategoryList">{{item?.categoryName}}</option>
                            </select>
                            <!-- <div *ngIf="submitted && f['subcategoryId'].errors" class="help-block">
                                <div *ngIf="f['subcategoryId'].errors" style="color: #fd0000">
                                    Sub Category is required.
                                </div>
                            </div> -->
                        </div>



                        <div class="col-lg-6 col-md-12">
                            <label>Age</label>
                            <select type="text" class="control-form" formControlName="ageRestrictions">
                                <option value="" selected>Select</option>
                                <option>Kids</option>
                                <option>Adult</option>
                            </select>

                            <div *ngIf="submitted && f['ageRestrictions'].errors" class="help-block">
                                <div *ngIf="f['ageRestrictions'].errors" style="color: #fd0000">
                                    Age is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Gender </label>
                            <select type="text" class="control-form" formControlName="genderPreferences">
                                <option value="" selected>Choose Gender</option>
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                            <div *ngIf="submitted && f['genderPreferences'].errors" class="help-block">
                                <div *ngIf="f['genderPreferences'].errors" style="color: #fd0000">
                                    State is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Duration In Minutes</label>
                            <input type="tel" class="control-form" formControlName="durationInMinutes" numbersOnly />
                            <div *ngIf="submitted && f['durationInMinutes'].errors" class="help-block">
                                <div *ngIf="f['durationInMinutes'].errors" style="color: #fd0000">
                                    Dial is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Total Count Per Duration</label>
                            <input formControlName="totalCountPerDuration" type="text" class="form-control" />

                            <div *ngIf="submitted && f['totalCountPerDuration'].errors" class="help-block">
                                <div *ngIf="f['totalCountPerDuration'].errors?.['required']" style="color: #fd0000">
                                    Total Count is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Lock Time Start</label>
                            <input type="tel" class="control-form" formControlName="lockTimeStart" numbersOnly />
                            <div *ngIf="submitted && f['lockTimeStart'].errors" class="help-block">
                                <div *ngIf="f['lockTimeStart'].errors" style="color: #fd0000">
                                    Lock Time Start is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Lock Time End</label>
                            <input formControlName="lockTimeEnd" type="text" class="form-control" />
                            <div *ngIf="submitted && f['lockTimeEnd'].errors" class="help-block">
                                <div *ngIf="f['lockTimeEnd'].errors" style="color: #fd0000">
                                    Lock Time End is required.
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <label>Discription</label>
                            <textarea type="text" class="control-form" formControlName="serviceDescription">
                    </textarea>

                            <div *ngIf="submitted && f['serviceDescription'].errors" class="help-block">
                                <div *ngIf="f['serviceDescription'].errors" style="color: #fd0000">
                                    Discription is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 mt-40 text-center btn_margin">
                            <button class="border-btn" type="submit" value="" data-toggle="modal"
                                data-target="#cancel-mess">
                                Cancel
                            </button>
                            <button class="btn_blue" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="cancel-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content warning-content">
            <div class="modal-body text-center warning-mess-sec">
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="assets\img\warning.png" />
                <h2>Alert</h2>
                <p>Are You Sure, You want to Cancel it?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="border-btn" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn_blue">Yes, Cancel It</button>
            </div>
        </div>
    </div>
</div>