<div class="app-main__outer">
    <div class="admin_a">
        <div class="top-head">
            <img (click)="backClicked()" src="assets\img\backimage.svg" class="backimage-butn">
            <h2>Service Detail</h2>
          </div>
        <div class="vendor-form">
         
            <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let item of  serviceDetail?.serviceImage; let i = index"
                        [ngClass]="{'active': i == 0 }">
                        <img class="d-block w-100" [src]="rootUrl + item?.salonServiceImage" alt="First slide">
                    </div>


                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
           
            <div class="vendor-form mt-40" style="background: #fff; padding-bottom: 60px;">
                <div class="this_row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Vendor Name:</dt>
                                <dd>{{serviceDetail?.vendorName}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Brand Name:</dt>
                                <dd>{{serviceDetail?.brandName}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Shop Name:</dt>
                                <dd>{{serviceDetail?.salonName}}</dd>
                            </dl>

                        </div>
                    </div>
                </div>
            </div>
            <div class="vendor-form mt-30" style="background: #fff; padding-bottom: 60px;">
                <div class="this_row">
                    <div class="row ">
                        <div class="col-lg-12 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Product Name:</dt>
                                <dd>{{serviceDetail?.serviceName}}</dd>
                            </dl>
                    
                            <!-- <dl class="d-flex inform_text">
                                <dt>SKUID:</dt>
                                <dd>{{serviceDetail?.skuid}}</dd>
                            </dl> -->
                            <dl class="d-flex inform_text">
                                <dt>Main Category Name:</dt>
                                <dd>{{serviceDetail?.mainCategoryName}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Sub Category Name:</dt>
                                <dd>{{serviceDetail?.subCategoryName}}</dd>
                            </dl>
                            <!-- <dl class="d-flex inform_text">
                                <dt>Sub Sub Category Name:</dt>
                                <dd>{{serviceDetail?.subSubProductCategoryName}}</dd>
                            </dl> -->

                            <dl class=" inform_text">
                                <dt>Service Description :</dt>
                                <dd>
                                    {{serviceDetail?.serviceDescription}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vendor-form mt-40" style="background: #fff; padding-bottom: 60px;">
                <div class="this_row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Base Price:</dt>
                                <dd>{{serviceDetail?.basePrice}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Discount:</dt>
                                <dd>{{serviceDetail?.discount}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Total Count Per Duration:</dt>
                                <dd>{{serviceDetail?.totalCountPerDuration}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Gender Preferences:</dt>
                                <dd>{{serviceDetail?.genderPreferences}}</dd>
                            </dl>
                         
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <dl class="d-flex inform_text">
                                <dt>Status:</dt>
                                <dd *ngIf="serviceDetail?.status == 1" >Active</dd>
                                <dd *ngIf="serviceDetail?.status == 2" >InActive</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Listing Price:</dt>
                                <dd>{{serviceDetail?.listingPrice}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Is Slot Available:</dt>
                                <dd>{{serviceDetail?.isSlotAvailable}}</dd>
                            </dl>
                            <dl class="d-flex inform_text">
                                <dt>Age Restrictions:</dt>
                                <dd>{{serviceDetail?.ageRestrictions}}</dd>
                            </dl>




                        </div>
                     
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
