<div class="login-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="login-left-side flex-css">
                    <img src="assets/images/beauty-queen.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login-right-side flex-css">
                    <img src="assets/images/logo.png" class="logo">
                    <form class="w-100 form-css">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control">
                        </div>
                        <div class="mb-3 position-relative">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control login-eye">
                          <div class="login-eye-icon">
                            <i class="fa-regular fa-eye"></i>
                            <i class="fa-regular fa-eye-slash"></i>
                        </div>
                        </div>
                        <a href="#" class="forget-password">Forget Password</a>
                        
                        <button [routerLink]="['/super-Admin-Dashboard']" type="submit" class="btn w-100 mt-20">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
   </div>