<!-- <header class="header-section">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-5">
                    <img src="img/logo.png" class="img-responsive xs-sm-logo" />
                </div>                        
            </div>
        </div>
    </header> -->
<div class="login_page">
<div class="container ">
    <div class="row align-items-center justify-content-around">
        <div
            class="col-lg-6 col-md-6 col-sm-11 col-11 text-center d-flex flex-wrap align-items-center justify-content-center">

            <img src="assets/img/login_dashborad.jpg" class="img-responsive">
            <!-- <div class="sm_condition">
                    <img src="img/ecommerce.png" class="img-responsive mb-30">
                    <h2 style="color:#fff;">Welcome to our<br> website</h2>
                </div> -->
        </div>
        <div class="col-lg-5 col-md-6 xs-mt-40 d-flex align-items-center justify-content-center">

            <div class="form-landing" style="background: #fff;  padding:40px; border-radius: 50px 0px 50px 0px;
                 width: 100%; ">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <h3>Salon Near By Me</h3>
                    <label>Email Address</label>
                    <input type="text" placeholder="" class="form-control" formControlName="emailOrPhone"
                        [ngClass]="{ 'is-invalid': submitted && f['emailOrPhone'].errors }">

                    <div *ngIf="submitted && f['emailOrPhone'].errors" class="help-block">
                        <div *ngIf="f['emailOrPhone'].errors['required']" style="color: #fd0000;">Email is required</div>
                    </div>
                        <div class="position-relative mt-20">
                                <label>Password</label>
                                <div class="position-relative password-input">
                                <input type= "{{show ? 'text' : 'password' }}" class="form-control login-inputpass password-input " formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                <div class="input-group-append eye-icon login-passsword" (click)="onClick()">
                                    <i class="fa fa-eye-slash eye-icon " aria-hidden="true"
                                        *ngIf="!show"></i>
                                    <i class="fa fa-eye " aria-hidden="true" *ngIf="show"></i>
                                </div>
                            </div>
                            </div>
                            <div *ngIf="submitted && f['password'].errors" class="help-block"
                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                <div *ngIf="f['password'].errors['required']" style="color: #fd0000; margin-top: 3px;">
                                    Password is
                                    required</div>

                            </div>
                            
                    <input type="submit" value="Submit" />

                    <!-- <a href="" class="forget_link">Forgot Password</a> -->
                </form>
            </div>

        </div>



    </div>
</div>
</div>