<div class="app-main__outer">
    <div class="admin_a">
        <div class="top-head">
            <img src="assets\img\backimage.png" class="backimage-butn">
            <h2>Admin User form</h2>
          </div>
        <form>
            <div class="vendor-form mt-40 bg-white" >

                <div class="this_row">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 mb-30 text-center">
                            <h2>Add Profile Picture</h2>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <!-- <div class="upload_file text-center">
                            <input type="file" class="control-form">
                            <label for="file">Upload</label>									
                        </div> -->
                            <div class="imges-upload mb-0">
                                <div class="imgUp m-auto">
                                    <!-- <div class="imagePreview" formControlName="imagePath"></div> -->
                                    <div class="imagePreview" ></div>

                                    <!-- {{imageFile}}/ -->
                                    <label class="upload button btn btn-primary">
                                        <!-- <input value="rootUrl + homeServicesData.imagePath" name="bannerHidden" type="hidden"> -->
                                        Upload<input type="file" class="uploadFile img" name="bannerimage"
                                            style="width: 0px;height: 0px;overflow: file; border-style: none;"
                                            id="bannerimage">
                                    </label>
                                    <div>
                                    </div>


                                </div>
                                <br>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- end first form -->

            <div class="vendor-form pt-0 bg-white">

                <div class="this_row">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <label>Email</label>
                            <input type="email" class="control-form" formControlName="email">
                          
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>First Name</label>
                            <input type="text" class="control-form" formControlName="firstName">
                         
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Last Name</label>
                            <input type="text" class="control-form" formControlName="lastName">
                          
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Gender</label>
                            <select type="text" class="control-form" formControlName="gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                         
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Dial Code</label>
                            <input type="tel" class="control-form" formControlName="dialCode" numbersOnly >
                         
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>Phone Number</label>
                            <input type="tel" class="control-form" formControlName="phoneNumber" numbersOnly >
                           
                        </div>
                     

                        <div class="col-lg-6 col-md-12">
                            <label>Country </label>
                            <select type="text" class="control-form" formControlName="countryId"
                                >
                                <option [selected]="true">India </option>
                                <!-- <option>Choose Country</option>
                                <option *ngFor="let app of countriesList" [ngValue]="app.countryId">{{app.countryName}}
                                </option> -->
                            </select>

                         
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <label>State </label>
                            <select type="text" class="control-form" formControlName="stateId">
                                <option>Choose State</option>
                                <option >Chandigarh
                                </option>
                            </select>
                         
                        </div>

                        <div class="col-lg-12 col-md-12 mt-40 text-center btn_margin">
                            <button class="border-btn" type="submit" value="" data-toggle="modal" data-target="#cancel-mess">Cancel</button>
                            <button class="btn_blue " type="submit" value="">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="cancel-mess" tabindex="-1" role="dialog" aria-labelledby="cancel-messLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content warning-content">
        
        <div class="modal-body text-center warning-mess-sec">
            <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <img src="assets\img\warning.png">
            <h2>Alert</h2>
          <p>Are You Sure, You want to Cancel it?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class=" border-btn" data-dismiss="modal">Close</button>
          <button type="button" class=" btn_blue" >Yes, Cancel It</button>
        </div>
      </div>
    </div>
  </div>